body {
    background: linear-gradient(180deg, rgb(63, 7, 93) 0%, rgb(78, 34, 148)5%, rgb(215, 155, 253) 100%);
    font: normal 15pt Arial;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: auto;
    padding-top: 45px;
    padding-bottom: 25px;
}
header {
    color: rgb(255, 255, 255);
    text-align: center;
}

#container {
    background: rgba(56, 24, 163, 0.283);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 6px 6px 10px 5px rgba(4, 4, 23, 0.669);
    text-align: center;
}

footer {
    text-align: center;
    font-style: italic;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#ficaaqui {
    text-align: center
}

#resdores {
    align-items: center;
}

#button {
    width: 120px;
    height: 25px;
    background-color: rgb(20, 147, 58);
    border-radius: 5px;
    box-shadow: 4px 4px 4px 1px rgba(11, 21, 0, 0.73);
    border: none;
}

#txtano{
    height: 17px;
    width: 60px;
    font-size: 14px;
    text-align: center;
}
#button:active {
    border: none;
    box-shadow: none;
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: -3px;
}